.chart {
    position: relative;
    height: 50%;
    padding: 5px 5px 20px;

    background-color: var(--main-bg-color);
}

.chart .full-screen {
  top: auto;
  bottom: 3px;
}

#chart-country {
    width: 100%;
    height: 100%;
}


.chart__confirmed {
    color: var(--disturbing-color);
}

.chart__recovered {
    color: var(--covered-color);
}

.chart__deaths {
    color: var(--deaths-color);
}

.chart__wrapper {
    width: 100%;
    height: 100%;
}



.chart__fullscreen {
    position: absolute;

    left: 0px;

    width: 100%;
    height: calc(100% - 15px);
    z-index: 1200;
}

.chart__fullscreen #chart-country {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

@media (max-width: 1000px) {
    .chart__fullscreen {
        position: fixed;
        top: 0;

        padding: 110px 40px 2px;

        height: calc(100%);
    }
}

@media (max-width: 740px) {
    .chart__fullscreen {
        padding: 160px 40px 2px;
    }
}

@media (max-width: 620px) {
    .chart__fullscreen {
        padding: 220px 0 50px 0;
    }
}
