.chart {
    height: 50%;
    padding: 5px 5px 20px;

    background-color: var(--main-bg-color);
}

#chart-country {
    width: 100%;
    height: 100%;
}


.chart__confirmed {
    color: var(--disturbing-color);
}

.chart__recovered {
    color: var(--covered-color);
}

.chart__deaths {
    color: var(--deaths-color);
}

.chart__wrapper {
    width: 100%;
    height: 100%;
}
