.country-list {
  margin: 0;
  padding: 0;


  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 18px;

  list-style: none;
  background-color: var(--main-bg-color);
}

.country-list__size-scrollbar {
  height: calc(100vh - 68px - 20px - 100px - 25px - 68px);
}

.country-list li {
  padding: 5px;
  display: flex;
  gap: 5px;
}

.country-list__image {
  width: 40px;
  height: 30px;

  margin: 0 5px 0 0;
}

.country-list__item {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid white;

  padding: 5px 0;
}

.country-list__item:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.country-list__active-item {
  background-color: var(--hover);
}

.country-list__row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.country-list__cases-count {
  width: 100%;
  padding: 0 0 0 5px;

  font-size: 22px;
}

.country-list__confirmed {
  color: var(--disturbing-color);
}

.country-list__recovered {
  color: var(--covered-color);
}

.country-list__deaths {
  color: var(--deaths-color);
}
