.country-list {
  position: relative;

  margin: 0;
  padding: 0;


  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 18px;

  list-style: none;
  background-color: var(--main-bg-color);
}

.country-list__title {
  text-align: center;
}

.country-list__size-scrollbar {
  height: calc(100vh - 68px - 20px - 100px - 25px - 68px - 40px);
}

.country-list li {
  padding: 5px;
  display: flex;
  gap: 5px;
}

.country-list__image {
  width: 40px;
  height: 30px;

  margin: 0 5px 0 0;
}

.country-list__item {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid white;

  padding: 5px 0;
}

.country-list__item:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.country-list__active-item {
  background-color: var(--hover);
}

.country-list__row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.country-list__cases-count {
  width: 100%;
  padding: 0 0 0 5px;

  font-size: 22px;
}

.country-list__confirmed {
  color: var(--disturbing-color);
}

.country-list__recovered {
  color: var(--covered-color);
}

.country-list__deaths {
  color: var(--deaths-color);
}




.country-list__fullscreen {
  position: absolute;
  padding: 0 70px;

  width: calc(100% - 20px);
  height: calc(100% - 20px);
  overflow: hidden;

  z-index: 1100;
}

.country-list__fullscreen .country-list__size-scrollbar {
  height: 100%;
}

@media (max-width: 1000px) {
  .country-list {
    padding: 0 70px 50px;
  }

  .country-list__fullscreen {
    padding: 70px 0 50px 0;
  }
}

@media (max-width: 740px) {
  .country-list__fullscreen {
    padding: 120px 0 50px 0;
  }
}

@media (max-width: 600px) {
  .country-list__fullscreen {
    padding: 170px 0 50px 0;
  }
}
