:root {
    --main-text-color: #ffffff;
    --main-bg-color: #404040;
    --hover: #242424;
    --disturbing-color: #FF0000;
    --covered-color: #329D27;
    --deaths-color: #ffffff;

    --input-bg-color: #8E8E8E;
    --input-color: #000000;
}
