.map-container {
  position: relative;
  background-color: var(--main-bg-color);
  height: calc(100%);
}

.leaflet-container {
  background-color: var(--main-bg-color);
}

.uc-first {
  text-transform: capitalize;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.tooltip--confirmed {
  background: var(--disturbing-color);
}

.tooltip--deaths {
  background: var(--deaths-color);
}

.tooltip--recovered {
  background: var(--covered-color);
}



@media (max-width: 1000px) {
  .map-container {
    height: 500px;
    padding: 0 40px;
  }

  .leaflet-container {
    outline: 1px solid var(--main-text-color);
  }
}

.map-container__full-screen {
  position: absolute;

  left: 0px;

  width: 100%;
  height: calc(100% - 15px);
  z-index: 1200;
}

@media (max-width: 1000px) {
  .map-container__full-screen {
    position: fixed;
    top: 0;

    padding: 110px 40px 2px;

    height: calc(100%);
  }
}

@media (max-width: 740px) {
  .map-container__full-screen {
    padding: 160px 40px 2px;
  }
}

@media (max-width: 620px) {
  .map-container__full-screen {
    padding: 220px 0 50px 0;
  }
}
